body{
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
}

/* generali  */
.grey{
  color: #6C757D;
}
.black{
  color: black;
}
.white{
  color: white;
}
.t-14px{
  font-size: 14px;
}


/*********header***********/

header{
  position: fixed;
  z-index: 999;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #F8F9FA;
}

.no_padding-x{
  padding: 0;
}

.bg_search{
  background-color: #E5E5E5;
}

.form-control {
  border-left: 0;
}




/**** main****/
/* menu sinistro  */

main{
  padding-top: 60px;
  height: 100vh;
  background-color: #F8F9FA;
}
.menu_sx{
  width: 150px;
  height: 100%;
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
}

.menu_bot{
  height: calc(100vh - 200px);
}

/***menu centrale *****/

/* studente  */
.nv_button{
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.nv_container{
  color: white;
  margin: 0 auto;
  overflow-y: auto;
}
.nv_container .studente{
  background-color: #1B72E8;  
}

.btn_app{
  padding: 1px 8px;
  border-radius: 20px;
  font-size: 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}




.big-count{
  font-size: 30px;
}
.d-md-table-cell{
  padding-top: 0;
}

.btn_mini{
  padding: .10rem .5rem;
  font-size: .75rem;
}









