body{
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;;
}

/*********header***********/

header{
  position: fixed;
  z-index: 999;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #F8F9FA;
}

.no_padding-x{
  padding: 0;
}

.bg_search{
  background-color: #E5E5E5;
}

.form-control {
  border-left: 0;
}





/**** main****/
/* menu sinistro  */

main{
  padding-top: 60px;
  height: 100vh;
  background-color: #F8F9FA;
}
.menu_sx{
  width: 150px;
  height: 100%;
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
}

.menu_bot{
  height: calc(100vh - 200px);
}

.nv_button{
  background-color: transparent;
  border: none;
  border-radius: 0;
}
